@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
    background-image: linear-gradient(45deg,rgba(247, 83, 245, 0.8) 0%, rgba(251, 172, 128, 0.6) 100%), url('img/bg_1.jpg')
}
.centered-element-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-element- {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}